{% extends 'header.html' %} {% block body_content %} {%if words.answer != "#####"%}
<div id="image" class="center">

    <section class="game">
        {%for i in range(1,(params.attempt + 1))%}
        <div id="guess{{i}}" class="guess" data-letters="" style="grid-template-columns: repeat({{params.length}}, 1fr)">
            {%for j in range(1,(params.length + 1))%}
            <div class="guess__tile" id="guess{{i}}Tile{{j}}"></div>
            {%endfor%}
        </div>
        {%endfor%}
    </section>
    <br>
    <div class="content-section">
        {% if params and params.language == 'Telugu' %} {% if words.wordCount
        <params.attempt and words.status=='PROCESS' %} {%if params.url%} <form action="{{ url_for('custom_word_post', word_id=params.url) }}" method="post">
            {%else%}
            <form action="{{ url_for('home') }}" method="post">
                {%endif%}

                <fieldset class="form-group">
                    <input id="input" class="form-control form-control-lg" onblur="this.focus()" autofocus type="text" onKeyDown="teluguHandle" autocomplete="off" name="word">
                </fieldset>
                <div class="form-group">
                    <button type="submit" id="submit" onclick="onClickTelugu()" class="btn btn-outline-info"> SUBMIT</button> {% if words.word_len_test==False %}
                    <div class="requirements">
                        Must be a valid Word!
                    </div>
                    {% endif %}
                </div>
            </form>
            {%else%}
            <button type="submit" id="again" onclick="document.getElementById('go').click()" class="btn btn-outline-info">PLAY AGAIN</button> {%if words.status=='SUCCESS' %}
            <!-- <button type="submit" id="share" data-toggle="modal" data-target="#ModalShare" onclick="screenshot()" class="btn btn-outline-info">SHARE</button>  -->
            <button type="submit" id="cripboard" onclick="cripboard()" class="btn btn-outline-info">Copy Image to Share</button>
            <br> <br>
            <h1 class="green-win">Yes! You Win.</h1>

            {%endif%} {%endif%} {% else %}
            <fieldset class="form-group">
                <input id="input" maxlength="{{params.length}}" class="form-control form-control-lg" onblur="this.focus()" autofocus type="text" onKeyDown="handleInput" autocomplete="off" name="word">
            </fieldset>
            <div id="share_btn" class="form-group">
                <button id="submit" onclick="onClick()" name="submit" class="btn btn-outline-info"> SUBMIT</button>
            </div>
            {% endif %}
            <!-- start image Modal -->
            <div class="modal fade" id="ModalShare" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Screenshot Share</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                        </div>
                        <div id="canvas" class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <a id="download" download="myImage.jpg" class="btn btn-outline-info" href="" onclick="download_img(this);">Download</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end image Modal -->
    </div>
</div>

<script type="text/javascript">
    const lettersPattern = /[a-z]/; // /^[A-Za-z][A-Za-z0-9]*$/;
    let currentGuessCount = 1;
    let currentGuess = document.querySelector('#guess' + currentGuessCount);
    let words = JSON.parse('{{words | tojson | safe}}');
    let english_row = [];

    console.log(words)

    let solutionWord = words["solution"]
    let guess_word = words["result"]
    let params = JSON.parse('{{params | tojson | safe}}');
    let word_size = params["length"]
    let total_rol = params["attempt"]
        // var canvas_save = null;



    const sendArrayToFlask = (is_win) => {
        var req = new XMLHttpRequest();
        var url = "/";
        var send = {
            "is_win": is_win,
            "answer": words["answer"],
        }
        req.open("POST", url, true);
        req.setRequestHeader("Content-type", "application/json");
        req.send(JSON.stringify(send));
    }

    function getImageBlobFromUrl(url) {
        const fetchedImageData = fetch(url).then(() => {
            const blob = fetchedImageData.blob()
            return blob
        });

    }

    // Screenshot img
    const screenshot = () => {
        html2canvas(document.getElementById('image')).then(function(canvas) {
            document.getElementById('canvas').appendChild(canvas);
            canvas_save = canvas;
        });
    }

    function cripboard() {
        html2canvas(document.getElementById('image')).then(
            function(canvas) {
                // document.getElementById('canvas').appendChild(canvas);
                canvas.toBlob(
                    function(blob) {
                        navigator.clipboard.write(
                            [
                                new ClipboardItem(
                                    Object.defineProperty({}, blob.type, {
                                        value: blob,
                                        enumerable: true
                                    })
                                )
                            ]
                        );
                    }
                );
            }
        );

    }


    const download_img = (el) => {
        var image = canvas_save.toDataURL("image/jpg").replace('image/jpeg', 'image/octet-stream');
        el.href = image;
    };

    const teluguHandle = () => {
        if (words["word_len_test"] == false) {
            setTitleTelugu(guess_word.length);
            document.getElementById('input').value = words["word_input"];

        } else {
            if (guess_word.length == 1) {
                setTilesTeluguForFlip(0);
                if (words["status"] === "SUCCESS") { // Win
                    submitTelugu(0);
                    setTimeout(() => {
                        jumpTiles(word_size, 1);
                    }, 500);
                    console.log("Try Telugu SUCCESS, Record!")
                    sendArrayToFlask(true);
                } else {
                    document.getElementById('input').value = words["word_input"];
                    submitTelugu(0);

                }
            } else if (guess_word.length > 1) {
                let n = guess_word.length - 1;
                setTitleTelugu(n);
                setTilesTeluguForFlip(n);
                if (words["status"] === "SUCCESS") { // Win
                    submitTelugu(n);
                    setTimeout(() => {
                        jumpTiles(word_size, n + 1);
                    }, 500);
                    console.log("Try Telugu SUCCESS, Record!")
                    sendArrayToFlask(true);
                } else {
                    if (guess_word.length < total_rol) {
                        document.getElementById('input').value = words["word_input"];
                    } else {
                        sendArrayToFlask(false);
                        console.log("Try Telugu Fail, Record!")
                    }
                    submitTelugu(n);

                }
            }
        }
    };
    const setTilesTeluguForFlip = (m) => {
        for (let j = 0; j < word_size; j++) {
            updateTilesTeluguForFlip(m, j, guess_word[m]["tlg_arr"][j], guess_word[m]["color_arr"][j]);
        }
    };
    const setTitleTelugu = (m) => {
        for (let i = 0; i < m; i++) {
            for (let j = 0; j < word_size; j++) {
                updateTilesTelugu(i, j, guess_word[i]["tlg_arr"][j], guess_word[i]["color_arr"][j])
            }
        }
    };
    const submitTelugu = (n) => {
        for (let i = 0; i < word_size; i++) {
            setTimeout(() => {
                revealTileTelugu(n, i, checkTelugu(i, n, guess_word));
            }, i * 200);
        }
    };
    const handleInput = () => {
        document.addEventListener('keydown', (e) => {
            let keypress = e.key;
            if (currentGuessCount <= total_rol) {
                if (
                    keypress.length == 1 &&
                    lettersPattern.test(e.key) &&
                    currentGuess.dataset.letters.length < word_size
                ) {
                    updateLetters(keypress, currentGuess);
                } else if (e.key == 'Backspace' && currentGuess.dataset.letters != '') {
                    deleteFromLetters(currentGuess, currentGuessCount);
                } else if (e.key == 'Enter' && currentGuess.dataset.letters.length == word_size) {
                    document.getElementById('input').value = "";
                    submitGuess();
                }
            } else {
                again();
                showSolution(solutionWord);
            }
        });
    };
    const again = () => {
        var input = document.getElementById("input");
        input.remove();
        var button = document.getElementById("submit");
        button.innerHTML = "PLAY AGAIN"
        button.setAttribute('ID', 'again');
        button.setAttribute('onclick', "document.getElementById('go').click()")
    }
    const cripboardBTN = () => {
        var button = document.createElement("button");
        button.innerHTML = "Copy Image to Share"
        button.setAttribute('ID', 'cripboard');
        button.setAttribute('onclick', "cripboard()")
        button.setAttribute('class', "btn btn-outline-info")
        button.setAttribute('type', "submit")
            // button.setAttribute('data-toggle', "modal")
            // button.setAttribute('data-target', "#ModalShare")

        document.getElementById("share_btn").appendChild(button);
        document.getElementById("share_btn").appendChild(document.createElement("br"));
        document.getElementById("share_btn").appendChild(document.createElement("br"));
        var h1 = document.createElement("h1")
        h1.innerHTML = "Yes! You Win.";
        h1.setAttribute("class", "green-win");
        document.getElementById("share_btn").appendChild(h1);
    }
    const share = () => {
        var button = document.createElement("button");
        button.innerHTML = "SHARE"
        button.setAttribute('ID', 'share');
        button.setAttribute('onclick', "screenshot()")
        button.setAttribute('class', "btn btn-outline-info")
        button.setAttribute('type', "submit")
        button.setAttribute('data-toggle', "modal")
        button.setAttribute('data-target', "#ModalShare")

        document.getElementById("share_btn").appendChild(button);
    }
    if (params["language"] === "English") {
        handleInput();
    } else if (params["language"] === "Telugu") {
        teluguHandle();
    }
    const onClick = () => {
        if (currentGuessCount <= total_rol) {
            if (currentGuess.dataset.letters.length == word_size) {
                english_row.push(document.getElementById('input').value);
                document.getElementById('input').value = "";
                submitGuess();
            }
        }
    };
    const onClickTelugu = () => {};
    const submitGuess = () => {
        for (let i = 0; i < word_size; i++) {
            setTimeout(() => {
                revealTile(i, checkLetter(i, currentGuess, solutionWord));
            }, i * 200);
        }
    };
    const checkIfGuessComplete = (i) => {
        if (i == (word_size - 1)) {
            if (solutionWord == currentGuess.dataset.letters) {
                // Win
                setTimeout(() => {
                    jumpTiles(word_size, currentGuessCount);
                }, 500);
                console.log("Try English SUCCESS, Record!")
                sendArrayToFlask(true); // send data to flask.
                again();
                //share();
                cripboardBTN();
            } else {
                // Not won
                currentGuessCount = currentGuessCount + 1;
                currentGuess = document.querySelector('#guess' + currentGuessCount);
                if (currentGuessCount == total_rol + 1) {
                    setTimeout(() => {
                        showSolution(solutionWord);
                    }, 500);
                    console.log("Try English Fail, Record!")
                    sendArrayToFlask(false);
                    again();
                }
            }
        }
    };
    const revealTileTelugu = (row, col, state) => {
        flipTileTelugu(row, col, state);
    };
    const revealTile = (i, state) => {
        let tileNum = i + 1;
        flipTile(tileNum, state);
        checkIfGuessComplete(i);
    };
</script>

{%else%}
<div class="center">
    <h1>Our System is Run out of Word of Length {{params.length}} for Today!
    </h1>
    <h1>
        Please Wait for next Day to Play the Game</h1>
    <h1>
        Or Input Your own Word to Play the Game</h1>
</div>
{%endif%}
<br> {% endblock body_content %}