{% extends 'header.html' %} {% block body_content %}
<nav class="navbar navbar-expand-md navbar-dark bg-steel ">
    <div class="container">
        <h1 class="nav-center navbar-brand me-4 ">Input Your Word</h1>
    </div>
</nav>
<div id="image" class="center">
    <div class="content-section">

        <form action="{{ url_for('my_word_post')}}" method="post">
            <fieldset class="form-group">
                <span class="nav-item" href="">Language &#8195;</span>
                <select name="language" class="btn-group ">
                                                        <option type="button" class="btn dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" selected>
                                            {{result.language}}
                                        </option>
                                                        <div class="dropdown-menu ">
                                                            <option class="dropdown-item " >English</a>
                                                            <option class="dropdown-item " >Telugu</a>
                                                        </div>
                                                    </select><br><br>
                <label>Word Insert</label>
                <input id="word_insert_input" class="form-control form-control-lg" type="text" autocomplete="off" name="word" value="{{result.word_insert}}">
                <br><label>Your Email</label>
                <input id="admin_email_input" class="form-control form-control-lg" type="text" autocomplete="off" name="email" value="{{result.email}}">
                <label>Your Password</label>
                <input id="admin_pwd_input" maxlength="60" minlength="2" class="form-control form-control-lg" type="password" autocomplete="off" name="pwd" value="{{result.pwd}}">
            </fieldset>
            <div class="form-group">
                <button type="submit" id="submit" onclick="" class="btn btn-outline-info">Generate URL</button>
            </div>
        </form>

        <h5 style="white-space: pre-line">{{result.message}}</h5>

    </div>
</div>

{% endblock body_content %}